@model University.Entity.Department

@{
    ViewData["Title"] = "Sinh viên";
    var i = 1;
}

<div class="panel panel-primary">
  <div class="panel-heading">
    Danh sách sinh viên - @Model.Deptname
  </div>
  <div class="panel-body">
    <table id="orders" class="table table-hover table-bordered table-condensed">
      <thead>
        <tr>
          <th>STT</th>
          <th>MSSV</th>
          <th>Tên</th>
          <th>Thông tin</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.Students)
        {
          <tr>
            <td>@i</td>
            <td>@item.Code</td>
            <td>@item.Name</td>
            <td>@item.Information</td>
            <td>
              <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-link">Bảng điểm</a>
            </td>
          </tr>
          i += 1;
        }
      </tbody>
    </table>
  </div>
</div>